body {
    background: linear-gradient(135deg, #0f00dd, #650000, #5900ec);
    background-size: 600% 600%;

    animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}